.container {
    border: 1px solid green;
    width: 90%;
    margin: 0 auto;
    text-align: center;

}

header {
    border: 1px solid green;
    width: 90%;
    margin: 20px auto;
    padding: 10px;   
}

main {
    border: 1px solid green;
    width: 90%;
    margin: 10px auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    
}

main .image {
    width: 250px;
}

main .image img {
    width: 100%;
}

